{% extends 'core/base.html' %}

{% block content %}

<div class="row hero align-items-center">
    
    <div class="col-md-6">
        <h1>Smart Cloud ERP Platform</h1>
        <p class="lead">
            Manage your inventory, billing, and business operations efficiently 
            from anywhere using our secure cloud-based ERP system.
        </p>

        <a href="/login/" class="btn btn-dark btn-custom me-2">Get Started</a>
        <a href="/about/" class="btn btn-outline-dark btn-custom">Learn More</a>
    </div>

    <div class="col-md-6 text-center">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="300">
    </div>

</div>

{% endblock %}